In [1]:
from pandas import read_csv
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix

In [2]:
df= read_csv("Fraud_check (1).csv")

In [32]:
df

,City.Population,Work.Experience,Undergrad_NO,Undergrad_YES,Marital.Status_Divorced,Marital.Status_Married,Marital.Status_Single,Urban_NO,Urban_YES,TaxableIncome
0,50047,10,1,0,0,0,1,0,1,good
1,134075,18,0,1,1,0,0,0,1,good
2,160205,30,1,0,0,1,0,0,1,good
3,193264,15,0,1,0,0,1,0,1,good
4,27533,28,1,0,0,1,0,1,0,good
...,...,...,...,...,...,...,...,...,...,...
595,39492,7,0,1,1,0,0,0,1,good
596,55369,2,0,1,1,0,0,0,1,good
597,154058,0,1,0,1,0,0,0,1,good
598,180083,17,0,1,0,1,0,1,0,good
599,158137,16,1,0,1,0,0,1,0,good

In [4]:
df = pd.get_dummies(df, columns =['Undergrad','Marital.Status','Urban'])

In [5]:
df.head()

,Taxable.Income,City.Population,Work.Experience,Undergrad_NO,Undergrad_YES,Marital.Status_Divorced,Marital.Status_Married,Marital.Status_Single,Urban_NO,Urban_YES
0,68833,50047,10,1,0,0,0,1,0,1
1,33700,134075,18,0,1,1,0,0,0,1
2,36925,160205,30,1,0,0,1,0,0,1
3,50190,193264,15,0,1,0,0,1,0,1
4,81002,27533,28,1,0,0,1,0,1,0

In [6]:
df['TaxableIncome']='good'
df.loc[df['Taxable.Income'] <= 30000,'TaxableIncome'] = "risk"
df.drop(['Taxable.Income'], axis=1,inplace = True)

In [26]:
array = df.values
array

array([[50047, 10, 1, ..., 0, 1, 'good'],
       [134075, 18, 0, ..., 0, 1, 'good'],
       [160205, 30, 1, ..., 0, 1, 'good'],
       ...,
       [154058, 0, 1, ..., 0, 1, 'good'],
       [180083, 17, 0, ..., 1, 0, 'good'],
       [158137, 16, 1, ..., 1, 0, 'good']], dtype=object)

In [8]:
df.head()

,City.Population,Work.Experience,Undergrad_NO,Undergrad_YES,Marital.Status_Divorced,Marital.Status_Married,Marital.Status_Single,Urban_NO,Urban_YES,TaxableIncome
0,50047,10,1,0,0,0,1,0,1,good
1,134075,18,0,1,1,0,0,0,1,good
2,160205,30,1,0,0,1,0,0,1,good
3,193264,15,0,1,0,0,1,0,1,good
4,27533,28,1,0,0,1,0,1,0,good

In [9]:
x = array[:,0:9]
y = array[:,9]

In [24]:
x

array([[50047, 10, 1, ..., 1, 0, 1],
       [134075, 18, 0, ..., 0, 0, 1],
       [160205, 30, 1, ..., 0, 0, 1],
       ...,
       [154058, 0, 1, ..., 0, 0, 1],
       [180083, 17, 0, ..., 0, 1, 0],
       [158137, 16, 1, ..., 0, 1, 0]], dtype=object)

In [25]:
y

array(['good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'risk', 'good', 'risk', 'good', 'good', 'good',
       'risk', 'good', 'good', 'risk', 'good', 'risk', 'good', 'good',
       'good', 'good', 'good', 'good', 'risk', 'good', 'good', 'good',
       'good', 'good', 'risk', 'good', 'risk', 'good', 'risk', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'risk', 'good', 'good', 'good', 'good', 'risk', 'good', 'risk',
       'good', 'good', 'risk', 'good', 'good', 'risk', 'good', 'good',
       'good', 'good', 'good', 'good', 'risk', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'risk',
       'good', 'good', 'good', 'good', 'good', 'risk', 'good', 'risk',
       'good', 'risk', 'good', 'good', 'good', 'risk', 'risk', 'good',
       'risk', 'good', 'risk', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'risk', 'good', 'good', 'good', 'risk', 'good',
       'good', 'good', 'risk', 'good', 'good', 'good', 'risk', 'good',
       'good', 'risk', 'risk', 'risk', 'good', 'good', 'risk', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'risk',
       'good', 'risk', 'good', 'good', 'risk', 'good', 'good', 'risk',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'risk', 'risk', 'risk', 'good', 'good', 'good', 'risk', 'good',
       'good', 'good', 'good', 'risk', 'good', 'good', 'good', 'good',
       'risk', 'good', 'good', 'risk', 'risk', 'good', 'good', 'good',
       'good', 'good', 'good', 'risk', 'good', 'risk', 'risk', 'good',
       'good', 'good', 'good', 'good', 'risk', 'good', 'good', 'good',
       'good', 'good', 'risk', 'good', 'risk', 'good', 'good', 'risk',
       'good', 'good', 'good', 'good', 'risk', 'risk', 'good', 'risk',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'risk', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'risk', 'good', 'risk', 'good',
       'risk', 'risk', 'good', 'good', 'good', 'risk', 'good', 'good',
       'good', 'risk', 'good', 'good', 'good', 'good', 'good', 'risk',
       'risk', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'risk', 'good', 'good', 'good', 'good',
       'good', 'risk', 'good', 'risk', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'risk', 'good',
       'risk', 'good', 'good', 'good', 'risk', 'good', 'good', 'good',
       'risk', 'good', 'good', 'good', 'risk', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'risk', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'risk', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'risk', 'risk',
       'good', 'risk', 'good', 'risk', 'good', 'risk', 'good', 'good',
       'good', 'risk', 'risk', 'risk', 'good', 'good', 'good', 'good',
       'good', 'good', 'risk', 'risk', 'good', 'risk', 'good', 'good',
       'risk', 'good', 'risk', 'good', 'risk', 'risk', 'good', 'good',
       'good', 'good', 'risk', 'risk', 'good', 'good', 'good', 'risk',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'risk', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'risk', 'good', 'good', 'good', 'good', 'good', 'risk', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'risk', 'good', 'good', 'good',
       'good', 'risk', 'risk', 'good', 'good', 'risk', 'risk', 'risk',
       'good', 'good', 'good', 'risk', 'risk', 'good', 'risk', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'risk', 'risk', 'risk', 'good', 'good', 'risk', 'good',
       'good', 'risk', 'good', 'good', 'good', 'good', 'good', 'risk',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'risk', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'risk', 'good', 'risk', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'risk', 'good', 'good', 'risk', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'risk', 'good', 'good',
       'good', 'good', 'good', 'good', 'risk', 'good', 'risk', 'good',
       'good', 'good', 'good', 'good', 'good', 'risk', 'good', 'good',
       'good', 'good', 'good', 'good', 'risk', 'risk', 'good', 'good',
       'risk', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'risk', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'risk',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'risk',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'risk',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good'],
      dtype=object)

In [10]:
x_train,x_test, y_train, y_test = train_test_split(x,y, test_size = 0.3)

In [23]:
x_train,x_test, y_train, y_test

(array([[182562, 24, 1, ..., 0, 1, 0],
        [74497, 21, 1, ..., 1, 1, 0],
        [137948, 22, 0, ..., 1, 0, 1],
        ...,
        [191139, 12, 1, ..., 0, 0, 1],
        [52227, 16, 0, ..., 1, 0, 1],
        [195078, 26, 1, ..., 1, 1, 0]], dtype=object),
 array([[112591, 26, 0, ..., 1, 0, 1],
        [137622, 2, 1, ..., 1, 0, 1],
        [85128, 22, 1, ..., 0, 1, 0],
        ...,
        [161629, 29, 1, ..., 1, 0, 1],
        [48025, 28, 1, ..., 1, 0, 1],
        [54437, 21, 0, ..., 0, 0, 1]], dtype=object),
 array(['good', 'good', 'good', 'good', 'good', 'risk', 'good', 'good',
        'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
        'good', 'risk', 'good', 'good', 'good', 'good', 'good', 'good',
        'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
        'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
        'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
        'good', 'good', 'risk', 'risk', 'good', 'good', 'risk', 'good',
        'good', 'good', 'risk', 'risk', 'good', 'good', 'good', 'good',
        'good', 'risk', 'risk', 'risk', 'good', 'good', 'good', 'good',
        'good', 'good', 'good', 'risk', 'good', 'good', 'good', 'good',
        'risk', 'good', 'good', 'good', 'good', 'good', 'good', 'risk',
        'good', 'good', 'risk', 'good', 'good', 'good', 'risk', 'good',
        'good', 'good', 'good', 'good', 'good', 'good', 'good', 'risk',
        'risk', 'good', 'risk', 'good', 'good', 'good', 'good', 'risk',
        'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
        'good', 'good', 'good', 'risk', 'good', 'risk', 'good', 'good',
        'risk', 'good', 'good', 'good', 'good', 'good', 'good', 'risk',
        'good', 'risk', 'good', 'good', 'good', 'good', 'good', 'good',
        'risk', 'good', 'good', 'risk', 'good', 'good', 'good', 'good',
        'good', 'good', 'good', 'good', 'risk', 'good', 'risk', 'good',
        'good', 'good', 'good', 'good', 'good', 'good', 'risk', 'good',
        'risk', 'good', 'good', 'risk', 'good', 'risk', 'good', 'good',
        'good', 'good', 'good', 'good', 'good', 'good', 'risk', 'good',
        'good', 'risk', 'good', 'risk', 'risk', 'good', 'risk', 'good',
        'good', 'good', 'good', 'good', 'good', 'good', 'risk', 'good',
        'risk', 'good', 'good', 'good', 'risk', 'risk', 'good', 'good',
        'good', 'good', 'good', 'good', 'good', 'good', 'risk', 'good',
        'risk', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
        'risk', 'risk', 'good', 'good', 'risk', 'risk', 'good', 'good',
        'good', 'good', 'good', 'good', 'good', 'good', 'good', 'risk',
        'risk', 'good', 'good', 'good', 'risk', 'good', 'good', 'risk',
        'risk', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
        'risk', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
        'risk', 'good', 'good', 'risk', 'good', 'risk', 'risk', 'risk',
        'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
        'good', 'risk', 'good', 'good', 'good', 'risk', 'good', 'good',
        'good', 'good', 'risk', 'good', 'risk', 'good', 'risk', 'good',
        'good', 'good', 'risk', 'good', 'risk', 'good', 'good', 'risk',
        'good', 'risk', 'risk', 'good', 'good', 'good', 'good', 'good',
        'good', 'risk', 'good', 'good', 'risk', 'good', 'good', 'good',
        'good', 'good', 'good', 'risk', 'good', 'risk', 'good', 'good',
        'good', 'good', 'risk', 'good', 'good', 'risk', 'good', 'good',
        'good', 'good', 'good', 'risk', 'good', 'good', 'risk', 'risk',
        'risk', 'good', 'risk', 'good', 'good', 'good', 'good', 'good',
        'good', 'good', 'good', 'good', 'good', 'risk', 'good', 'risk',
        'good', 'good', 'good', 'good', 'risk', 'risk', 'good', 'good',
        'good', 'good', 'good', 'risk', 'good', 'good', 'risk', 'good',
        'good', 'good', 'good', 'good', 'risk', 'good', 'good', 'good',
        'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
        'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
        'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
        'good', 'risk', 'good', 'good', 'good', 'good', 'risk', 'good',
        'good', 'good', 'good', 'risk'], dtype=object),
 array(['good', 'good', 'good', 'risk', 'good', 'good', 'good', 'good',
        'good', 'good', 'good', 'good', 'risk', 'good', 'risk', 'risk',
        'good', 'good', 'good', 'good', 'risk', 'good', 'good', 'good',
        'risk', 'good', 'risk', 'good', 'good', 'good', 'good', 'good',
        'good', 'good', 'risk', 'good', 'good', 'good', 'good', 'good',
        'risk', 'good', 'risk', 'good', 'good', 'risk', 'good', 'good',
        'risk', 'good', 'risk', 'risk', 'good', 'risk', 'risk', 'good',
        'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
        'good', 'good', 'good', 'risk', 'good', 'good', 'good', 'good',
        'good', 'good', 'risk', 'good', 'good', 'risk', 'good', 'good',
        'good', 'good', 'good', 'risk', 'good', 'good', 'good', 'risk',
        'good', 'risk', 'good', 'good', 'risk', 'good', 'good', 'good',
        'good', 'risk', 'risk', 'good', 'good', 'good', 'good', 'good',
        'good', 'good', 'good', 'good', 'good', 'good', 'risk', 'good',
        'good', 'good', 'risk', 'good', 'good', 'good', 'good', 'good',
        'risk', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
        'good', 'good', 'risk', 'good', 'good', 'good', 'good', 'risk',
        'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
        'good', 'good', 'good', 'good', 'good', 'risk', 'good', 'good',
        'good', 'risk', 'good', 'risk', 'good', 'good', 'good', 'risk',
        'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
        'good', 'good', 'risk', 'good', 'good', 'good', 'good', 'good',
        'good', 'good', 'good', 'good'], dtype=object))

In [11]:
num_trees = 100
max_features = 3   
kfold = KFold(n_splits=10)
model = RandomForestClassifier(n_estimators=num_trees, max_features=max_features)
model.fit(x_train,y_train)
pred = model.predict(x_test)
results = cross_val_score(model, x,y, cv=kfold)

print(results.mean())
confusion_matrix(y_test, pred)

0.7216666666666667

array([[134,  11],
       [ 31,   4]], dtype=int64)

In [12]:
results

array([0.75      , 0.68333333, 0.63333333, 0.66666667, 0.73333333,
       0.63333333, 0.86666667, 0.7       , 0.75      , 0.8       ])

In [13]:
model.fit(x_train, y_train)

RandomForestClassifier(max_features=3)

In [14]:
pred = model.predict(x_test)

In [15]:
pred

array(['good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'risk', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'risk', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'risk', 'good',
       'good', 'good', 'risk', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'risk', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'risk', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'risk', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'risk', 'good', 'good', 'good',
       'good', 'good', 'risk', 'good', 'risk', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'risk', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'risk', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'good'], dtype=object)

#### create dataframe actual and prediction

In [16]:
data = pd.DataFrame({ "actual":y_test,"prediction":pred})

In [17]:
data

    actual prediction
0     good       good
1     good       good
2     good       good
3     risk       good
4     good       good
..     ...        ...
175   good       good
176   good       good
177   good       good
178   good       good
179   good       good

[180 rows x 2 columns]

In [29]:
 df1 = df.columns
df1

Index(['City.Population', 'Work.Experience', 'Undergrad_NO', 'Undergrad_YES',
       'Marital.Status_Divorced', 'Marital.Status_Married',
       'Marital.Status_Single', 'Urban_NO', 'Urban_YES', 'TaxableIncome'],
      dtype='object')

In [30]:
df1 = df1.drop(['TaxableIncome'])

In [31]:
feature = model.feature_importances_
feature

array([0.52231718, 0.35205784, 0.01519636, 0.0160872 , 0.01822714,
       0.02227575, 0.02063615, 0.01551851, 0.01768387])

In [21]:
data = pd.DataFrame({'columns':df1,"importances":feature})

In [22]:
data

                   columns  importances
0          City.Population     0.522317
1          Work.Experience     0.352058
2             Undergrad_NO     0.015196
3            Undergrad_YES     0.016087
4  Marital.Status_Divorced     0.018227
5   Marital.Status_Married     0.022276
6    Marital.Status_Single     0.020636
7                 Urban_NO     0.015519
8                Urban_YES     0.017684